h1 {
    user-select: none;
    display: inline-flex;

    top: 0;
    color: rgb(165, 162, 162);
    margin: 0;
    text-shadow: 3px 5px rgb(0, 0, 0);
    font-size: 400px;
}

h1 div {

    text-shadow: none;
    padding-top: 60px;
    font-size: 260px;
}

p {
    left: 25%;
    margin: 0;

    font-size: 80px;
}

body {
    text-align: center;

}